{% extends "base.html" %}
{% load add_field_css debate_tags i18n %}

{% block head-title %}<span class="emoji">⌛</span> {% trans "Schedule" %}{% endblock %}
{% block page-title %}⌛{% trans "Schedule" %}{% endblock %}

{% block content %}

{% blocktrans trimmed asvar p1 %}
This page allows you to set the public schedule for the tournament.
{% endblocktrans %}



{% include "components/explainer-card.html" with type="info" %}

{% trans "Save Schedule" as save_text %}
{% include "components/formset.html" with quadruple=True %}

{% endblock content %}
